:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 80%;
  font-family: sans-serif;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header {
  margin-top: 2%;
  margin-bottom: 4%;
  color: rgb(55 109 232);
  font-size: xxx-large;
}

span {
  color: #e56717;
}

input {
  margin-top: 6%;
  margin-bottom: 2%;
  border: none;
  border-radius: 50px;
  text-align: center;
  padding: 1%;
  width: 50%;
  background-color: ghostwhite;
  color: #333;
  font-size: x-large;
  animation: fadeIn 0.5s ease-in;
}

ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: flex-start;
}

li:hover {
  cursor: pointer;
  text-shadow: 0px 0px 2px rgb(255, 77, 0), 0px 0px 1px rgb(255, 255, 255);
}

p {
  color: #a7adba;
  font-family: sans-serif;
  font-weight: 500;
  margin: 2px;
}

.card {
  width: 40%;
  display: flex;
  transition: 0.3s;
  padding: 4%;
  border-radius: 8px;
  animation: fadeIn 0.5s ease-in;
  background-color: #f0f0f029;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

input:hover {
  box-shadow: 0 0px 8px 0 rgba(255, 255, 255, 0.962);
}

container {
  color: #606060;
  padding: 2px 16px;
}

.hidden {
  display: none;
}

.book-table {
  color: #adadad;
  text-align: justify;
}

h2 {
  margin: 0px 0px 18px 0px;
}

hr {
  height: 5px;
  background-color: #f2651f;
  border: none;
  width: 100%;
}

b,
.description {
  color: #adadad;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Responsive styles for desktops and bigger screens */
@media (max-width: 1366px) {
  input {
    width: 70%;
  }

  .card {
    width: 80%;
    margin-top: 30px;
  }
}

/* Responsive styles for tablets and smaller screens */
@media (max-width: 768px) {
  input {
    width: 70%;
  }

  .card {
    width: 80%;
    margin-top: 30px;
  }
}

/* Responsive styles for mobile devices */
@media (max-width: 480px) {
  header {
    font-size: 1.5em;
  }

  .card {
    width: 92%;
    margin-top: 60px;
  }

  ul {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}